---
import { ViewTransitions } from 'astro:transitions'
import '../styles/blog.css'

// interface Props {
//     title: string
// }

// Blog File System
// const {title, ...rest} = Astro.props
// const frontmatter = rest.frontmatter

// Collections Blog
const {title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <title>{ frontmatter.title }</title> -->
		<title>{ title }</title>
		<ViewTransitions/>
	</head>
	<body class="bg-slate-900">
        <main class="w-[1200px] mx-auto my-8">
			<a href="/" id="btn-back">Regresar</a>
            <slot/>
        </main>
	</body>
</html>
